<%- include('../partials/header.ejs') %>

<div class="wrapper-dashboard">
    <%- include('../partials/nav-admin.ejs') %>
    <div class="main">
        <%- include('../partials/x-admin.ejs') %>

        <main class="content px-3 py-2">
            <!-- <div class="container-fluid"></div> -->
            <div class="xx">
                <div>
                    <h2>Danh sách phòng</h2>
                </div>
                <input type="text" id="search" placeholder="Search">
            </div>
        
            <div id="table" class="table-room">
                <table style="width: 100%;">
                    <tr>
                        <th>Phòng</th>
                        <th>Giá(VND/month)</th>
                        <th>Giới tính</th>
                        <th>Hiện có</th>
                        <th>Max</th>
                        <th>Tình trạng</th>
                    </tr>
                    <% rooms.forEach(function(room) { %>
                        <tr>
                            <td><a style="color: blue;" href="/room/<%= room._id %>"><%= room.name %></a></td>
                            <td><%= room.price %></td>
                            <td><%= room.gender %></td>
                            <td><%= room.curr_count %></td>
                            <td><%= room.countMax %></td>
                            <td>
                                <% if(room.curr_count < room.countMax){ %>
                                    Còn chỗ
                                <%} else{ %>
                                    Đã đầy
                                <%} %>
                            </td>
                            
                                <td><a href="/edit/room/<%= room._id %>" ><button style="padding: 5px; border: none; background-color: rgb(80, 255, 144); border-radius: 5px;">Sửa</button></a></td>
                                <td><form action="/room/<%= room._id %>?_method=DELETE" method="POST">
                                    <input onclick="return confirm('Are you sure?');" style="padding: 5px; border: none; background-color: rgb(255, 238, 80); border-radius: 5px;" type="submit" value="Xóa"/>
                                </form></td>
                            
                        </tr>
                    <% }) %>
                    
                </table>
            </div>
        </main>
    </div>
</div>

<script>
    document.querySelector('#search').addEventListener('input', handleSearch)
function handleSearch(){
    let filter = document.getElementById('search').value.toLowerCase();
    let table = document.getElementById('table');
    let tr = table.getElementsByTagName('tr');
    for(var i = 0; i<tr.length; i++){   
        let td = tr[i].getElementsByTagName('td')[0];
        if(td){
            let textValue = td.textContent || td.innerHTML;

            if(textValue.toLowerCase().includes(filter)){
                tr[i].style.display = ""
            } else {
                tr[i].style.display = "none"
            }
        }
    }
}
</script>

<%- include('../partials/footer.ejs') %>