<%- include('../partials/header.ejs') %>

<div class="wrapper-dashboard">
    <%- include('../partials/nav-admin.ejs') %>
    <div class="main">
        <%- include('../partials/x-admin.ejs') %>

        <main class="content px-3 py-2">
            <!-- <div class="container-fluid"></div> -->
            <div class="search">
                <h2>Quản lý danh sách bài đăng</h2>
            
                <input style="height: 40px; width: 300px; border-radius: 5px;" type="text" id="search" placeholder="Search">
            </div>
            
            <div class="list-news">
                    <ul>
                        <% news.forEach(n => { %>
                            <li style="border-bottom: 1px solid slategrey; padding-bottom: 5px;">
                                <div class="info">
                                    <div style="width: 400px;">
                                        <a target="_blank" href="/detail-news/<%= n._id %>">
                                            <%= n.title %>
                                        </a>
                                    </div>
                                    <div style="width: 200px;">
                                        <span><%= n.date_created.toDateString() %></span>
                                    </div>
                                </div>
                                
            
                                <div class="btn">
                                    <a href="/edit-news/<%= n._id %>"><button style="margin-right: 15px; border: solid 1px; padding: 3px; background-color: aqua;">Sửa</button></a>
                                    <form action="/admin/list-news/<%= n._id %>?_method=DELETE" method="POST">
                                        <input onclick="return confirm('Are you sure?');" style="background-color: coral; padding: 2px; border: solid 1px;" type="submit" name="" id="" value="Xóa">
                                    </form>
                                </div>
                    
                            </li>
                            
                        <% }) %>
                    </ul> 
            </div>
        </main>
    </div>
</div>

<script>
    const search = document.querySelector('#search')
    search.addEventListener('input', function(e){
        const filter= e.target.value.toLowerCase();
        const item = document.querySelectorAll('.list-news li')
        item.forEach( i => {
            let text = i.textContent.toLowerCase();
            if(text.includes(filter.toLowerCase())){
                i.style.display = '';
            } else {
                i.style.display = 'none';
            }
        })
    })
</script>

<%- include('../partials/footer.ejs') %>