<%- include('../partials/header.ejs') %>
<%- include('../partials/nav.ejs') %>

<% if(message2) { %>
    <div class="flash-message">
        <span style="font-size: 12px;"><%= message2 %></span>
    </div>
<% } %>

<% if(message1) { %>
    <div class="flash-message">
        <span style="font-size: 12px;"><%= message1 %></span>
    </div>
<% } %>



<main>
    <div class="xx">
        <div>
            <h2>Danh sách phòng</h2>
        </div>
        <input type="text" id="search" placeholder="Search">
    </div>

    <div class="table-room">
        <table id="table" style="width: 100%;">
            <tr>
                <th>Phòng</th>
                <th>Giá</th>
                <th>Giới tính</th>
                <th>Hiện có</th>
                <th>Max</th>
                <th>Tình trạng</th>
                <th></th>
            </tr>
            <% rooms.forEach(function(room) { %>
                <tr>
                    <td><%= room.name %></td>
                    <td><%= room.price %>k</td>
                    <td><%= room.gender %></td>
                    <td><%= room.curr_count %></td>
                    <td><%= room.countMax %></td>
                    <td>
                        <% if(room.curr_count < room.countMax){ %>
                            Còn chỗ
                        <%} else{ %>
                            Đã đầy
                        <%} %>
                    </td>
                    <td>
                        <form action="/dang-ky-phong/<%= room._id %>?_method=POST" method="POST">
                            <input type="hidden" value="0" name="bool">
                            <button style="border: none; border-radius: 5px; background-color: aqua; padding: 3px;" type="submit">Đăng ký</button>
                        </form>
                    </td>
                </tr>
            <% }) %>
        </table>
    </div>
</main>
 
<%- include('../partials/footer.ejs') %>